  
body {
  margin: 0;
  font-family: Arial;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
  left: 0;
  overflow-y: auto;
  padding-top: 20px;
  border-right: 1px solid #ccc;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Main Content */
.main-content {
  margin-left: 220px; /* space for sidebar */
  padding: 20px;
  width: 60%;
  position: absolute;
  top: 100px;
}
.quiz_class{
  text-align: left;
  padding: 5px 10px; 
  padding-right: 300px;
  background-color:#282A35;
  margin: 3px;
  border-radius: 5px;
}
.quiz_class:hover{
  opacity: .6;
}
.green_btn{
  padding: 10px 30px;
  background-color: #04AA6D;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}
.green_btn:hover{
  opacity: .6;
}
.grey_btn{
  padding: 10px 30px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}
.grey_btn:hover{
  background-color: grey;
  color: #ffffff;
}
/* footer */

footer{
  background-color: #282A35;
  position: absolute;
  top: 2300px;
  width: 100%;
}
.foot_disp{
  display: inline-block;
}
.foot_mar_up{
margin: 10px 60px;
}
.foot_mar{
  margin: 10px 80px;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: #FFF4A3;
}
footer h3{
  color: white;
  font-weight: 700;
}

.REF_block{
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
  height: 55px;
  width: 270px;
  background-color: rgb(205, 205, 205);
  text-align: center;
  /* cursor: pointer; */
  vertical-align: middle;
}
.REF_block:hover{
  background-color: #282A35;
  color: white;
}
.REF_block_a{
  text-decoration: none;
  color: black;
}