

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#logo a img {
    height: 40px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 25px 5px;
}


.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

#nav1{
  text-align: left;
}

.nav-links a:hover {
    color: white;
    background-color:#059862;
}


.nav-links li input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-style: italic;
    padding-left: 10px;
    border-radius: 25px;
    height: 35px;
}

.dots-menu {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin: 2px 0;
}

.sign_in {
    background-color: #059862;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    color: white
}

.custom-list li{
  width: 100px;
  padding: 15px 0px;
  text-align: center;
}
.custom-list li:nth-child(5){
  width: 100px;
  text-align: center;
}
.custom-list li:hover {
    background-color: #8a838333;
    border-radius: 10px;
}

.custom-list li:nth-child(5):hover {
  background-color: #417f69;
}
.c_lang a {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}
.c_lang a:hover{
  background-color: #000000;
}
.c_lang{
  background-color: #282A35;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents the items from wrapping to the next line */
  padding: 10px 0;
}

.horizontal-scroll a {
  margin-right: 20px; /* Adds some space between links */
  text-decoration: none;
  font-size: 16px;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px; /* Customize scrollbar height */
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}

.Search_bar2{
  background-color: #282A35;
}
.Search_bar2 h1{
  color:white;
  font-size: 70px;  
  font-weight: 700;
}
.Search_bar2 h3{
  color: #FFF4A3;
  font-weight: 700;
  font-size: 23px;
  margin-top: 30px;
}

.Search_bar2{
  text-align: center;
}

.Search_bar3{
  width: 400px;
  border-radius: 30px 0px 0 30px;
  height: 40px;
  font-size: 17px;
} 

#search_btn{
  height: 50px;
  width: 100px;
  border-radius: 0 30px 30px 0;
  position: relative;
  z-index: 1;
  background-color:  #059862;
  vertical-align: middle;
}
.Search_bar2 a:link{
  color: white;
}
.Search_bar2 a:hover{
  color: #FFF4A3;
}
.Search_bar2 a:visited{
  color:#FFF4A3;
}
.about{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.about h1{
  font-size: 100px;
  font-weight: 700;
}
.about p{
  font-size: 22px;
  font-weight: 500;
}
.MARG1N{
  margin-right: 200px;
}
.MARG1N button{
  cursor: pointer;
}
.MARG1N button:hover{
  opacity: .8;
}
.a_learn:hover{
  opacity: .8;
}
.about button{
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 200px;
  border-radius: 25px;
  height: 50px;
  border: none;
}
.HTML{
  background-color: #D9EEE1 !important;
}
.CSS{
  background-color: #FFF4A3 !important;
  color: #000000 !important;
}
.JAVASCRIPT{
  background-color: #282A35 !important;
  color:white !important;
}
.PYTHON{
  background-color: #F3ECEA !important;
  color: #000000 !important;
}
.SQL{
  background-color: #96D4D4 !important;
}
.certified{
  background-color: #FFC0C7 !important;
  color: #000000 !important;
}
.PHP,.jQuery{
  display: inline-block;
  text-align: center;
  border:2px solid #04AA6D;

}
.JS{
  background-color: #fff !important;
  color:black !important;
}

.a_learn{
  height: 5vh;
  width: 200px;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  background-color: #282A35;
  color: white;
  /* display: block; */
  vertical-align: middle;
  text-decoration: none;
  margin: auto;
  font-size: 18px;
}
#div_learn{
  margin-bottom: 55px;
  font-size: 20px;
}
.div_learn{
  font-weight: 200;
  margin: 30px 40px;
    padding: 24px;
    border: none;
    border-radius: 5px;
    height: 200px;
    width: 550px;
}
.a_C{
text-decoration: none;
color: #000000;
font-size: 30px;
font-weight: 300;
}
.a_C_div{
  height: 80px !important;
  vertical-align: middle ;
}
.c_lang_s{
    font-weight: 100;
  margin: 30px 40px;
    padding: 24px;
    border: none;
    border-radius: 5px;
    height: 80px;
    width: 200px;
}
.c_lang_s h2,.a_C_div h2{
  font-size: 25px;
}
.h_over a:hover{
  opacity: .8;
}
.login_img{
  padding-top: 70px;
}
.login_img h1{
  font-size: 65px;
  font-weight: 700;
}
.login_img h4{
  font-size: 25px;
  
}
.sign_in_btn{
  border:none;
  color:white;
  background-color:#059862;
  text-decoration: none;
  border-radius: 25px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 25px;
  padding: 12px 70px;
}
.magic_p {
  transition: transform 0.4s ease;
}
.magic_p:hover{
  opacity: .8;
  transform: scale(1.5);
}
.gif_dot{
  margin-top: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}
.codeeditorbr-container {
  border-top-left-radius: 4px;
  display: inline;
  border-top-right-radius: 4px;
width: 20%;
}
  .codeeditorbr-middle {
      width: 80%;
}
.together{
  display: inline;
}
.Frontend_btn{
  text-decoration: none;
  border-radius: 5px;
  background-color: #059862;
  font-size: 20px;
  color: #ffffff;
  padding: 5px 10px;
margin-right: 485px;
}
.Frontend_btn:hover{
  opacity: .8;
}
.Backend_btn:hover{
  opacity: .8;
}
.Backend_btn{
  margin-right: 430px;
    text-decoration: none;
  border-radius: 5px;
  background-color: #fff080 ;
  font-size: 20px;
  color: black;
  padding: 5px 10px;
}
.game:hover{
  opacity: .8;
  cursor: pointer;
}
.get_started{
  border-radius: 50px;
  color: white;
  background-color: #059862 ;
  padding: 17px 55px;
  border: none;
  font-size: 18px;
  font-weight: 500;
}
#arrow{
  position: absolute;
    right: 500px;
    width: 220px;
    transform: rotate(10deg);
    bottom: -12850px;
    z-index: 1;
}
.img_{
  position: absolute;
  right: 336px;
  bottom: -12917px;
  width: 200px;
}
.foot_disp{
  display: inline-block;
}
.foot_mar_up{
margin: 10px 60px;
}
.foot_mar{
  margin: 10px 80px;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: #FFF4A3;
}
footer h3{
  color: white;
  font-weight: 700;
}